# Ignore virtual environment files.
/env
/venv
/ENV 
/VENV 
.env
.venv

# Ignore python compiled code
__pycache__/


# Ignore virtual environment files.
/env
/venv
/ENV 
/VENV 
.env
.venv

# Ignore python compiled code
__pycache__/

# logs
logs/
*.logs

# Ignore all content of media directory but keep the directory itself
media/*
!media/.gitkeep

node_modules

*/makefile

backend/library/book_upload/authors_data.json
backend/library/book_upload/editions_data.json
backend/library/book_upload/work_data.json
backend/library/book_upload/books.txt