# Ignore virtual environment files.
/env
/venv
/ENV 
/VENV 
.env
.venv

# Ignore python compiled code
__pycache__/


# Ignore virtual environment files.
/env
/venv
/ENV 
/VENV 
.env
.venv

# Ignore python compiled code
__pycache__/

# logs
logs/
*.logs

# Ignore all content of media directory but keep the directory itself
media/*
!media/.gitkeep

node_modules
