# Ignore virtual environment files.
/env
/venv
/ENV 
/VENV 
.env
.venv

# Ignore python compiled code
__pycache__/

# logs
logs/
*.logs
# Ignore virtual environment files.
/env
/venv
/ENV 
/VENV 
.env
.venv

# Ignore python compiled code
__pycache__/

# logs
logs/
*.logs


test
